# source
lib
tests
index.ts
example
package-lock.json
tslint.json
tsconfig.json
.prettierrc
coverage

# github
.github
CONTRIBUTING.md
renovate.json

# misc
.commitlintrc.json
.release-it.json
.eslintignore
.eslintrc.js
docker-compose.yml
.circleci/

